﻿@model Data.Reading

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reading</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeterReadingDateTime" class="control-label"></label>
                <input asp-for="MeterReadingDateTime" class="form-control" />
                <span asp-validation-for="MeterReadingDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeterReadValue" class="control-label"></label>
                <input asp-for="MeterReadValue" class="form-control" />
                <span asp-validation-for="MeterReadValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

