﻿@model Data.Reading

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reading</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterReadingDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterReadingDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterReadValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterReadValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReadingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
