﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Search</h1>

<h4>Reading</h4>

<p>@ViewBag.Message</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-action="UploadReadings">Upload Readings File</a>
</p>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Readings" asp-action="Search" method="get">
            <p>
                Account ID: <input type="text" name="id" />
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>
</div>

@section scripts{ 
    <script type="text/javascript">
        function doCheck() {
            var txtboxFilled = true;
            $('input[type=text]').each(function () {
                if ($(this).val() != '') {
                    txtboxFilled = true;
                    return false;
                }
                else {
                    txtboxFilled = false;
                }
            });
            $('input[type=submit]').prop('disabled', !txtboxFilled);
        }

        $(document).ready(function () {
            $(doCheck);
            $('input[type=text]').keyup(doCheck);
        });
    </script>
    }