﻿
@model IEnumerable<Data.Reading>

@{
    ViewData["Title"] = "Search";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeterReadingDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeterReadValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeterReadingDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeterReadValue)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReadingId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReadingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReadingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back</a>
</div>


